.addnew{
    padding: 60px;
    margin-top: 0mm;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: Cursive, Helvetica, sans-serif;
  }
table{
    align-items: center;
    border-collapse: collapse;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    font-family: Cursive, Helvetica, sans-serif;
}
tr, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  th {
    background-color: #4CAF50;
    color: white;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #F1C40F;
    border-radius: 6px;
    outline: none;
    font-family: Cursive, Helvetica, sans-serif;
  }
  