h3{
    text-align: center;
}
table{
    align-items: center;
    border-collapse:collapse;
    padding-left: 100px;
    padding-right: 100px;
    width: 70%;
    font-family: Cursive, Helvetica, sans-serif;
}
tr, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  th {
    background-color: #4CAF50;
    color: white;
  }