.header {
  padding: 60px;
  margin-top: 0mm;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 60px;
}
body {
  font-family: Cursive, Helvetica, sans-serif;
  margin: 0;
  color: #1abc9c;
}

table {
    border-collapse:collapse;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    font-family: Cursive, Helvetica, sans-serif;
    
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #F1C40F;
    border-radius: 6px;
    outline: none;
    font-family: Cursive, Helvetica, sans-serif;
  }
  .input-group{
    border-collapse:collapse;
    display: inline-block;
    float: right;
    width: 250px;
    color: lawngreen;
    border-radius: 6px;
    outline: none;
    font-family: Cursive, Helvetica, sans-serif;
  }

