table, th, td {
    border: 2px solid black;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: Cursive, Helvetica, sans-serif;
}
.h2 {
    font-family: Cursive, Helvetica, sans-serif;
  }