
table {
    border-collapse:separate;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    font-family: Cursive, Helvetica, sans-serif;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }
.h2 {
    font-family: Cursive, Helvetica, sans-serif;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #F1C40F;
    border-radius: 6px;
    outline: none;
    font-family: Cursive, Helvetica, sans-serif;
  }
